<!-- Bottom Nav Bar -->
      <nav class="navbar fixed-bottom" style="background:Blue">
        <h6 class="navbar-text" style="color:yellow">&copy; Copyright 2022. All Rights Reserved. Made by:Caleb Fontaine</h6>
      </nav>