<div>
        <div>
                <h1 class="Head">Welcome to the league of legend website</h1>
                
        </div>

        <figure>
                <img src="/Assets/images/LeagueBack.jpg" alt="League of legends Background" width="100%" height="100%">
        </figure>
</div>