body {
    font-family: Times New Roman;
    margin: 0;
    }
.header {
    padding: 10px;
    text-align: center;
    background: #0000ff;
    color: black;
    font-size: 20px;
    }
.nav-link {
    color: yellow;
}

.Head{
    text-align: center;
}
